<p-toast></p-toast>
<div class="px-5 min-h-screen flex justify-content-center align-items-center">
  <div class="border-1 surface-border surface-card border-round py-7 px-4 md:px-4 z-1">
    <div class="mb-4">
      <div class="text-900 text-xl font-bold mb-2">Nouveau mot de passe</div>
      <span class="text-600 font-medium">Entrer votre nouveau mot de passe</span>
    </div>
    <form #RequestResetForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="flex flex-column">
        <span class="p-input-icon-left w-full mb-4">
          <i class="pi pi-envelope"></i>
          <input id="email" type="text" pinputtext placeholder="Email" class="p-inputtext p-component p-element w-full md:w-25rem" [(ngModel)]="form.email" [ngModelOptions]="{standalone: true}" required>
        </span>
        <span class="p-input-icon-left w-full mb-4">
          <i class="pi pi-lock"></i>
          <input  type="password" [(ngModel)]="form.password"  placeholder="Mot de passe" class="p-inputtext p-component p-element w-full md:w-25rem" [ngModelOptions]="{standalone: true}" required>
        </span>
        <span class="p-input-icon-left w-full mb-4">
          <i class="pi pi-lock "></i>
          <input  type="password" [(ngModel)]="form.password_confirmation" class="p-inputtext p-component p-element w-full md:w-25rem" placeholder="Confirmer mot de passe" [ngModelOptions]="{standalone: true}" required>
        </span>
        <div class="flex flex-wrap gap-2 justify-content-between">
          <button pbutton pripple label="Cancel"  routerLink="/login" class="p-element p-ripple flex-auto p-button-outlined p-button p-component" tabindex="0">
            <span class="p-button-label">Cancel</span>
            <span class="p-ink" aria-hidden="true" role="presentation"></span>
          </button>
          <button pbutton pripple  type="submit" label="Submit" class="p-element p-ripple flex-auto p-button p-component" tabindex="0">
            <span class="p-button-label">Submit</span>
            <span class="p-ink" aria-hidden="true" role="presentation"></span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
