<p-toast></p-toast>
<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">Bienvenue</div>
                    <span class="text-600 font-medium">Connectez-vous pour continuer</span>
                </div>
                <form (ngSubmit)="onLogin()">
                    <label for="username" class="block text-900 text-xl font-medium mb-2">username</label>
                    <input id="username" type="username" name="username" [(ngModel)]="form.username" placeholder="username" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem" [(ngModel)]="form.username" required>

                    <label for="password" class="block text-900 font-medium text-xl mb-2">Mot de passe</label>
                    <p-password id="password" name="password" [toggleMask]="true"[(ngModel)]="form.password" placeholder="Mot de passe" styleClass="mb-5" inputStyleClass="w-full p-3 md:w-30rem" [feedback]="false"></p-password>
                    <div class="text-right mb-5">
                        <a routerLink="/resetPassword" class="font-medium no-underline cursor-pointer" style="color: var(--primary-color)">Mot de passe oublié ?</a>
                    </div>
                    <button pButton pRipple label="Se Connecter" class="w-full p-3 text-xl"></button>
                </form>
            </div>
        </div>
    </div>
</div>
