<div class="card px-5 py-5">
  <p-toast></p-toast>
  <p-toolbar styleClass="mb-2">
    <ng-template pTemplate="left">
      <div class="my-2">
        <button pButton pRipple label="Ajouter" icon="pi pi-plus" class="p-button-success mr-2"
          (click)="openNew()"></button>
      </div>
    </ng-template>
  </p-toolbar>
  <p-table #dt [value]="affectations" responsiveLayout="scroll" [rows]="5" [globalFilterFields]="['employe.nom']"
    [paginator]="true" [rowsPerPageOptions]="[5,10,15]" [showCurrentPageReport]="true"
    currentPageReportTemplate="Affichage de {first} à {last} des entrées {totalRecords}" [rowHover]="true">
    <ng-template pTemplate="caption">
      <div class="flex flex-row justify-content-between items-center">
        <div class="w-full">
          <h5 class="m-1">Gère les affectations </h5>
        </div>
        <div class="block mt-5 md:mt-0 p-input-icon-right text-right">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Chercher..."
            class="w-full sm:w-auto" />
        </div>
      </div>
    </ng-template>


    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="nom">Employé<p-sortIcon field="nom"></p-sortIcon></th>
        <th pSortableColumn="nomeq">Equipement<p-sortIcon field="nomeq"></p-sortIcon></th>
        <th pSortableColumn="dateDebut">Date Début<p-sortIcon field="dateDebut"></p-sortIcon></th>
        <th pSortableColumn="dateFin">Date Fin<p-sortIcon field="dateFin"></p-sortIcon></th>
        <th pSortableColumn="tache">Tache<p-sortIcon field="tache"></p-sortIcon></th>
        <th pSortableColumn="statut">Statut<p-sortIcon field="statut"></p-sortIcon></th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-affectation>
      <tr>
        <td style="width:15%; min-width:9rem;">
          <span class="p-column-title">Employé</span>
          {{affectation.employe.nom}}
        </td>
        <td style="width:15%; min-width:9rem;">
          <span class="p-column-title">Equipement</span>
          {{affectation.equipement.nom}}
        </td>
        <td style="width:15%; min-width:9rem;">
          <span class="p-column-title">Date Début</span>
          {{affectation.dateDebut}}
        </td>
        <td style="width:15%; min-width:9rem;">
          <span class="p-column-title">Date Début</span>
          {{affectation.dateFin}}
        </td>
        <td style="width:15%; min-width:9rem;">
          <span class="p-column-title">Tache</span>
          {{affectation.tache.nom}}
        </td>
        <td style="width:15%; min-width:9rem;">
          <span class="p-column-title">Statut</span>
          {{affectation.statut}}
        </td>
        <td>
          <div class="flex flex-wrap gap-2">
            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
              (click)="getAffectation(affectation.id)"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
              (click)="deleteAffectation(affectation)"></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<app-add-affectation-dialog [affectationDialogAdd]="affectationDialogAdd" [affectation]="affectation" [employes]="employes" [equipements]="equipements" [taches]="taches"
  (save)="onAddAffectation($event)" (close)="affectationDialogAdd = false">
</app-add-affectation-dialog>

<app-edit-affectation-dialog [affectationDialogEdit]="affectationDialogEdit" [affectation]="selectedAffectation" [employes]="employes" [equipements]="equipements" [taches]="taches"
  (save)="onUpdateAffectation($event)" (close)="affectationDialogEdit = false">
</app-edit-affectation-dialog>

<div *ngIf="deleteAffectationDialog">
  <p-dialog [(visible)]="deleteAffectationDialog" header="Confirmer" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
      <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
      <span *ngIf="affectation">Êtes-vous sûr de vouloir supprimer cette affectation ?</span>
    </div>
    <ng-template pTemplate="footer">
      <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non"
        (click)="deleteAffectationDialog = false"></button>
      <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Oui" (click)="confirmDelete()"></button>
    </ng-template>
  </p-dialog>
</div>