<div class="card px-4 py-4">
  <p-toast></p-toast>
  <p-toolbar styleClass="mb-2">
    <ng-template pTemplate="left">
      <div class="my-2">
        <button pButton pRipple label="Ajouter" icon="pi pi-plus" class="p-button-success mr-2"
          (click)="openNew()"></button>
      </div>
    </ng-template>
  </p-toolbar>
  <p-table #dt [value]="competences" responsiveLayout="scroll" [rows]="5" [globalFilterFields]="['type']"
    [paginator]="true" [rowsPerPageOptions]="[5,10,15]" [showCurrentPageReport]="true"
    currentPageReportTemplate="Affichage de {first} à {last} des entrées {totalRecords}" [rowHover]="true">
    <ng-template pTemplate="caption">
      <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
        <h5 class="m-0">
          Gère les competences
        </h5>
        <span class="block mt-2 md:mt-0 p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Chercher par type ..."
            class="w-full sm:w-auto" />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="nom">Nom competence<p-sortIcon field="nom"></p-sortIcon></th>
        <th pSortableColumn="type">Type<p-sortIcon field="type"></p-sortIcon></th>
        <th pSortableColumn="certifications">Certifications<p-sortIcon field="certifications"></p-sortIcon></th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-competence>
      <tr>
        <td style="width:20%; min-width:9rem;">
          <span class="p-column-title">Nom competence</span>
          {{competence.nom}}
        </td>
        <td style="width:20%; min-width:9rem;">
          <span class="p-column-title">Type</span>
          {{competence.type}}
        </td>
        <td style="width:30%; min-width:9rem;">
          <span class="p-column-title">Certifications</span>
          <ul>
            <ng-container *ngIf="competence.certifications?.length > 0; else noCertifications">
              <li *ngFor="let c of competence.certifications">
                {{ c?.nom }}
              </li>
            </ng-container>
            <ng-template #noCertifications>
              Aucune certification
            </ng-template>
          </ul>
          
        </td>
        <td>
          <div class="flex">
            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
              (click)="getCompetence(competence.id)"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
              (click)="deleteCompetence(competence)"></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <app-add-competence-dialog [competenceDialogAdd]="competenceDialogAdd" [certifications]="certifications"
    (save)="onAddCompetence($event)" (close)="competenceDialogAdd = false">
  </app-add-competence-dialog>

  <app-edit-competence-dialog [competenceDialogEdit]="competenceDialogEdit" [competence]="selectedCompetence"
    [certifications]="certifications" (save)="onUpdateCompetence($event)" (close)="competenceDialogEdit = false">
  </app-edit-competence-dialog>

  <div *ngIf="deleteCompetenceDialog">
    <p-dialog [(visible)]="deleteCompetenceDialog" header="Confirmer" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="competence">Êtes-vous sûr de vouloir supprimer <b>{{competence.nom}}</b>?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non"
          (click)="deleteCompetenceDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Oui" (click)="confirmDelete()"></button>
      </ng-template>
    </p-dialog>
  </div>