<p-toast></p-toast>
<div class="px-5 min-h-screen flex justify-content-center align-items-center">
  <div class="border-1 surface-border surface-card border-round py-7 px-4 md:px-7 z-1">
    <div class="mb-4">
      <div class="text-900 text-xl font-bold mb-2">
        Réinitialiser le mot de passe
      </div>
      <span class="text-600 font-medium">Entrez votre adresse e-mail pour réinitialiser votre mot de passe</span>
    </div>
    <div class="flex flex-column">
      <form #RequestResetForm="ngForm" >
      <span class="p-input-icon-left w-full mb-4">
        <i class="pi pi-envelope"></i>
        <input id="email" type="text" pinputtext placeholder="Email" class="p-inputtext p-component p-element w-full md:w-30rem" [(ngModel)]="form.email" [ngModelOptions]="{standalone: true}" required>
      </span>
      <div class="flex flex-wrap gap-2 justify-content-between">
        <button type="button" class="p-element flex-auto p-button-outlined p-button p-component" >
          <span  routerLink="/login"class="p-button-label">Annuler</span>
        </button>
        <button type="submit" class="p-element flex-auto p-button p-component" (click)="onSubmit()" [disabled]="!RequestResetForm.valid">
          <span class="p-button-label">Soumettre</span>
        </button>
      </div>
      </form>
    </div>
  </div>
</div>

