<div class="card px-4 py-4">
    <p-toast></p-toast>
    <p-toolbar styleClass="mb-2">
      <ng-template pTemplate="left">
        <div class="my-2">
          <button pButton pRipple label="Ajouter" icon="pi pi-plus" class="p-button-success mr-2"
            (click)="openNew()"></button>
        </div>
      </ng-template>
    </p-toolbar>
    <p-table #dt [value]="certifications" responsiveLayout="scroll" [rows]="5" [globalFilterFields]="['nom']" [paginator]="true"
      [rowsPerPageOptions]="[5,10,15]" [showCurrentPageReport]="true"
      currentPageReportTemplate="Affichage de {first} à {last} des entrées {totalRecords}" [rowHover]="true">
      <ng-template pTemplate="caption">
        <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
          <h5 class="m-0">
            Gère les certifications
          </h5>
          <span class="block mt-2 md:mt-0 p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Chercher..."
              class="w-full sm:w-auto" />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="nom">Nom certification<p-sortIcon field="nom"></p-sortIcon></th>
          <th pSortableColumn="date">Date Ajout<p-sortIcon field="date"></p-sortIcon></th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-certification>
        <tr>
          <td style="width:25%; min-width:9rem;">
            <span class="p-column-title">Nom certification</span>
            {{certification.nom}}
          </td>
          <td style="width:25%; min-width:9rem;">
            <span class="p-column-title">Date Ajout</span>
            {{certification.dateAjout}}
          </td>
          <td>
            <div class="flex">
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                (click)="getCertification(certification.id)"></button>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                (click)="deleteCertification(certification)"></button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  
    <app-add-certification-dialog [certificationDialogAdd]="certificationDialogAdd" (save)="onAddCertification($event)"
      (close)="certificationDialogAdd = false">
    </app-add-certification-dialog>
  
    <app-edit-certification-dialog [certificationDialogEdit]="certificationDialogEdit" [certification]="selectedCertification" (save)="onUpdateCertification($event)"
      (close)="certificationDialogEdit = false">
    </app-edit-certification-dialog>

    <div *ngIf="deleteCertificationDialog">
      <p-dialog [(visible)]="deleteCertificationDialog" header="Confirmer" [modal]="true" [style]="{width:'450px'}">
        <div class="flex align-items-center justify-content-center">
          <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
          <span *ngIf="certification">Êtes-vous sûr de vouloir supprimer <b>{{certification.nom}}</b>?</span>
        </div>
        <ng-template pTemplate="footer">
          <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non"
            (click)="deleteCertificationDialog = false"></button>
          <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Oui" (click)="confirmDelete()"></button>
        </ng-template>
      </p-dialog>
    </div>